{% for flash_message in app.session.flashBag.get('notice') %}
    <div class="flash-notice">
        <div class="alert alert-warning" role="alert">
            {{ flash_message }}
        </div>
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('error') %}
    <div class="flash-notice">
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    </div>
{% endfor %}

{% for flash_message in app.session.flashBag.get('success') %}
    <div class="flash-notice">
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    </div>
{% endfor %}